DOCTYPE
html
	head
		title= title    
		//script(type='text/javascript', src='/js/jsontotable.js')
		script(type='text/javascript', src='/js/demo.js')
		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='/css/lr-form-style.min.css')
		link(rel='stylesheet', href='/css/social-icons.css')
	body
		div.nav
			ul
				li.nav-link(data-url='/sociallogin') Social Login
				li.nav-link(data-url='/userreg') User Registration
	!= body